<%= form_with model: @user, url:  user_registration_path, class: 'registration-main', 
  local: true do |f| %>
      <div class="container">
       <div style="text-align: center;">
  <h1 class='form-header-text'>
   会員情報入力
  </h1>
        </div>

  <div class="form-group">
      <label for="exampleFormControlInput1">メールアドレス</label>
      <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">パスワード</label>
      <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">パスワード（確認用）</label>
      <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">チーム名を入力してください</label>
      <%= f.text_area :team,:rows => "1", class:"form-control", id:"team", placeholder:"チーム名を入力してください"%>
</div>
   <div class="form-group">
    <label for="exampleFormControlTextarea1">実績を入力してください</label>
      <%= f.text_area :profile,:rows => "5", class:"form-control", id:"profile", placeholder:"例）県大会ベスト４"%>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">プロフィールを入力してください</label>
      <%= f.text_area :perfomance,:rows => "5", class:"form-control", id:"perfomance" %>
  </div>
  <div style="text-align: center; margin-top: 20px;">
    <%= f.submit "新規登録" ,class:"btn btn-danger" %>
  </div>
<% end %>