<div class="item-explain-box">
      
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">チーム名</th>
          <td class="detail-value"><%= link_to "#{@post.user.team}",user_path(@post.user)%></td>
        </tr>
        <tr>
          <th class="detail-item">場所</th>
          <td class="detail-value"><%= @post.place %></td>
        </tr>
        <tr>
          <th class="detail-item">募集チーム数</th>
          <td class="detail-value"><%= @post.recruitment_team.name %></td> 
        </tr>
        <tr>
          <th class="detail-item">競技</th>
          <td class="detail-value"><%= @post.competition.name %></td>
        </tr>
        <tr>
          <th class="detail-item">募集する世代</th>
          <td class="detail-value"><%= @post.average_age.name %></td>
        </tr>
        <tr>
          <th class="detail-item">性別</th>
          <td class="detail-value"><%= @post.gender.name %></td>
        </tr>
        <tr>
          <th class="detail-item">備考</th>
          <td class="detail-value"><%= @post.remarks %></td>
        </tr>
      </tbody>
    </table>
 <div class="container-comment">
  <div class ="form">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment]) do |form| %>
        <%= form.text_area :text, placeholder: "ここにコメントを入力",:size=>"60x4"%>
        </div>
        <div class ="comment-btn">
        <%= form.submit "コメントする" ,class:"btn btn-outline-danger"%>
        </div>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
<div class="comments">
      <% if @comments %>
      <div id ='comments'>
        <% @comments.reverse.each do |comment| %>
          <p class ="comment-list">
            <strong><%= link_to comment.user.team, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>