<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "sports",root_path, class:"navbar-brand text-info" %>
    <% if user_signed_in?%> 
<%= link_to current_user.team,user_path(current_user), class:"navbar-brand text-primary" %>
<% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" style= "text-align:right;" id="navbarSupportedContent">
    <ul class="navbar-nav ">
     <% if user_signed_in? %>
      <li class="nav-item active">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout btn btn-outline-primary" %>
         <%= link_to '投稿する', new_post_path,class:"post btn btn-outline-primary"%>
      </li>
        <%else%>
      <li class="nav-item">
         <%= link_to 'ログイン', new_user_session_path, class:"login btn btn-outline-primary"%>
      </li>
      <li class="nav-item dropdown">
        <%= link_to '新規登録', new_user_registration_path, class: "sign-up btn btn-outline-primary"%>
        <% end %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>